.background {
  background-image: url('../images/background.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-button,
.chart-button {
  color: #454545;
  font-size: 20px;
}