.gaming-board {
  width: 340px;
  /*height: 680px;*/
  background: linear-gradient(160deg, #a2e5f6 0%, #ba7f8c 100%);
  padding: 21px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}