.box {
  display: flex;
  justify-content: center;
}

.gaming-board {
  width: 560px;
  /*height: 680px;*/
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}